/* 임시 Nav! 지워도 상관 없음. */
.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #189cc4;
}
.Nav > ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Nav > ul > li {
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff73;
  font-size: 16px;
}

/* SignIn > SignUp 임시 모달창 */
.SignUpOpenBtn {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid #189cc4;
  cursor: pointer;
  width: 100px;
  height: 5px;
  background-color: #189cc4;
  color: white;
  text-align: center;
  border-radius: 1rem;
}

.modal-background {
  /* width: 2000px; */
  height: 120%;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.86);
}

.modal-card {
  margin: 0 auto;
  display: block;
  /* margin-top: 100ㅔㅌ; */
  width: 300px;
  height: 300px;
  background-color: transparent;
  border-radius: 5px;
}

.ModalCloseBtn {
  margin-left: 90%;
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 50%;
  /* position: absolute; */
  top: 40px;
  right: 40px;
  color: white;
  font-size: 2rem;
  font-weight: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: #188cc4;
  z-index: 999;
  box-shadow: 2px 2px 2px black;
  transition-duration: 0.1s;
}
.ModalCloseBtn:active {
  /* margin-left: 1%;
  margin-top: 1%; */
  box-shadow: none;
}

/* 회원가입 */
/* 주황컬러 : #ff735d */
.SignUpTitle {
  text-align: center;
  font-size: 50px;
  color: #189cc4;
  font-weight: bolder;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 30px 50px 50px 50px;
  justify-content: center;
}

.UserImg {
  border-radius: 9999px;
  cursor: pointer;
}

.ImgFlex {
  display: flex;
  text-align: center;
  justify-content: center;
}

.UserName {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.UserEmail {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.UserNickname {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #188cc4;
}

.UserMobile {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.password {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.password2 {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.SignUpButton {
  display: block;
  padding: 7px;
  background-color: #189cc4;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;

  float: left;
  box-shadow: 2px 2px 2px black;
  transition-duration: 0.1s;
}
.SignUpButton:active {
  margin-left: 1px;
  margin-top: 1px;
  box-shadow: none;
}

.SignUpCheckbox {
  font-size: 15px;
  margin: 10px 0;
}

.errorMessages {
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  color: #ff735d;
}

/* 랭킹컴포넌트 */
.AllRankingFlex {
  margin-left: 30%;
  display: flex;
  text-align: center;
  align-items: center;
}

.RankingTitle {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin-right: 20px;
}

.selectBox {
  width: 130px;
  height: 30px;
  font-size: 20px;
  font-weight: bolder;
  padding: 0 0 0 30px;
  color: #189cc4;
  border: 2px solid #189cc4;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);

  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.selectBox::after {
  content: "";
  background-color: #189cc4;
  color: white;
}

/* 랭킹 하위 컴포넌트(유저/샵랭크) */
.AllRankers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 50px;
}
@media screen and (max-width: 1020px) {
  .AllRankers {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 650px) {
  .AllRankers {
    grid-template-columns: 1fr;
  }
}

.EachRanker {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
  margin: 20px;
  box-shadow: 3px 3px 3px black;
  cursor: pointer;
  transition-duration: 0.3s;
}
.EachRanker:active {
  margin-left: 0.5px;
  margin-top: 0.5px;
  box-shadow: none;
}

.EachNumber {
  width: 36px;
  /* height: 30px; */
  /* border: 3px solid purple; */

  border-radius: 9999px;
  text-align: center;
  margin: -10px 20px 20px -10px;
  background-color: #ff735d;
  color: white;
  font-size: 30px;
  align-items: center;
  position: absolute;
  /* top: 10px; */
  /* left: 40px; */
}

.RankPicsDiv {
  text-align: center;
}

.EachPic {
  /* border: 5px solid green; */
  /* background-color: wheat; */
  margin: 10px;
  /* padding: 10% 0; */
  /* width: 90%; */
  height: 200px;
  width: 200px;
}

.EachName {
  /* border: 3px solid tomato; */
  margin: 10px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: bolder;
}

.EachMessage {
  /* border: 3px solid royalblue; */
  margin: 10px;
  margin-top: 0px;
}

.EachLikes {
  /* border: 3px solid brown; */
  margin: 10px;
  margin-top: 0px;
  font-weight: bolder;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.EachGround {
  /* border: 3px solid yellowgreen; */
  margin: 10px;
  margin-top: 0px;
  font-size: 13px;
}

/* Mypage*/
.MypageFlex {
  /* display: flex; */
  display: grid;
  grid-template-columns: 230px 2fr;
  grid-auto-rows: auto;
}

.MypageContents {
  text-align: center;
  align-items: center;
}

/* Mypage > MypageNav */
.MypageNavOut {
  border-right: 2px solid #189cc4;
  padding: 50px 20px 400px 20px;
  /* margin: 20px; */
}

.MypageNavUl {
  list-style: none;
  padding-left: 0;
  padding-top: 20px;
}

.MypageNavTitleWhole {
  padding: 0 20px 30px 40px;
  border-bottom: 1px solid #188cc4;
}

.MypageNavTitleHello {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.MypageNavUsername {
  font-size: 18px;
  font-weight: bolder;
}

.MypageNavBtns {
  border: 2px solid #188cc4;
  border-radius: 2rem;
  margin: 30px 20px 20px 20px;
  cursor: pointer;
  color: #188cc4;
  font-weight: bolder;
  /* background-color: #188cc4; */
  text-align: center;
  padding: 5px 5px 5px 0;
  box-shadow: 2px 2px 2px black;
}
.MypageNavBtns:active {
  box-shadow: none;
}

/* Mypage > ADMents */
.MypageADgrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
}
@media screen and (max-width: 1400px) {
  .MypageADgrid {
    grid-template-columns: 1fr;
  }
}

.MypageADMents {
  border: 3px solid #188cc4;
  /* margin: 20px; */
  background-color: #188cc4;
  color:white;
  padding: 50px;
  text-align: center;
  align-items: center;
}

/* Mypage > JustInfo */
/* .MypageInfoandTitleGrid {

} */
.JustInfoFlex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}
@media screen and (max-width: 1000px) {
  .JustInfoFlex {
    grid-template-columns: 1fr;
  }
}

.MyInfo {
  margin-top: 50px;
}
.MyInfoTitle {
  text-align: left;
  font-size: 40px;
  margin: 20px 20px 20px 30px;
  font-weight: bolder;
}

.MyInfoUl {
  list-style: none;
  padding-left: 0;
}

.MyInfoPicsImg {
  margin: 20px;
  border-radius: 9999px;
  width: 200px;
  height: 200px;
}

.MyInfoName {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.MyInfoEmail {
  text-align: center;
  color: gray;
  margin: 10px;
}

.MyInfoEdit {
  text-align: center;
  background-color: #ff735d;
  margin: 20px 40%;
  border-radius: 80px;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  transition-duration: 0.1s;
  text-decoration-line: none;
}
.MyInfoEdit:active {
  box-shadow: none;
}
/* 링크밑줄 없애기 */
a {
  text-decoration: none;
}

.MyLevel {
  margin: 80px 80px 80px 50px;
  align-items: center;
  text-align: center;
}

.MyLevelUl {
  list-style: none;
}

.MyLevelPicsImg {
  border-radius: 9999px;
  width: 200px;
  height: 200px;
}

.MyLevelNums {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: #189cc4;
}

.MylevelMents {
  width: 100%;
  height: 100%;
}

.MentsExp {
  margin-top: 10px;
  margin-bottom: 10px;
}

.MentExpNick {
  font-weight: bolder;
}

.MentExpNums {
  font-weight: bolder;
  color: #189cc4;
}

/* Mypage > BillsLog */
.MyBillsGrid {
  display: grid;
  grid-template-columns: 230px 2fr;

}

.BillsMainBody {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr;
  grid-auto-rows: auto;
}

.BillsLogsTitle {
  text-align: left;
  font-size: 40px;
  margin: 20px 20px 20px 30px;
  font-weight: bolder;
}

.BillsLogsWhole {
  list-style: none;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 1450px) {
  .BillsLogsWhole {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1250px) {
  .BillsLogsWhole {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1050px) {
  .BillsLogsWhole {
    grid-template-columns: 1fr;
  }
}

.BillsOne {
  border: 2px solid orange;
  background-color: ccc;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  margin: 20px;
}

.BillsImg {
  width: 100%;
  height: 100%;
}

.BillsXBtn {
  /* position: z99; */
  margin-left: 90%;
  width: 20px;
  height: 20px;
  /* border: 2px solid #ccc; */
  border-radius: 50%;
  top: 40px;
  right: 40px;
  color: white;
  font-size: 1rem;
  font-weight: 1000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: #188cc4;
  z-index: 999;
  box-shadow: 2px 2px 2px black;
}
.BillsXBtn:active {
  box-shadow: none;
}

.BillsLogAddBtn {
  /* border: 1px solid royalblue; */
  background-color: #188cc4;
  border-radius: 9999px;
  font-size: 50px;
  color: white;
  text-align: center;
  width: 50px;
  height: 50px;
  margin-top: 800px;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}
.BillsLogAddBtn:active {
  box-shadow: none;
}

/* .UploadBillsImg{
  border: 4px solid #bcb6b6;
  height: 150%;
  width: 100%;
  cursor: pointer;
} */

.UploadBillsImg {
  height: 100px;
  width: 100px;
  /* border-radius: 100px; */
  position: relative;
  border: 4px solid #ffffff;
  overflow: hidden;
  /* background-image: linear-gradient(to bottom, #2590eb 50%, #ffffff 50%); */
  background-size: 100% 200%;
  transition: all 1s;
  color: #ffffff;
  font-size: 100px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.UploadBillsBackground {
  height: 100%;
  width: 100%;
  /* background-color: #bcb6b6; */
  text-align: center;
  align-items: center;
  border: 3px dashed #188cc4;
  border-radius: 20px;
}
.UploadBillBackMents {
  border: 3px dashed #ff735d;
  border-radius: 20px;
  padding: 20px;
  margin: 150px 50px;
  color: #188cc4;
  font-weight: bolder;
}

/* Mypage > LikePlace */
.WholeLikePlaces {
  /* align-items: center; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}

.LikePlaceTitle {
  font-size: 40px;
  margin: 20px;
  padding-left: 10px;
  font-weight: bolder;
}

.LikePlaceUl {
  list-style: none;
}

.OneLikePlace {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  align-items: center;
  text-align: center;
  border: 2px solid #188cc4;
  border-radius: 50px;
  width: 80%;
  height: 50px;
  margin: 50px 50px 0 150px;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}
.OneLikePlace:active {
  box-shadow: none;
}

.LikePlaceNum {
  border-radius: 9999px;
  background-color: #188cc4;
  color: white;
  font-size: 25px;
  width: 30px;
  padding: 10px;
}

.LikePlaceName {
  font-weight: bolder;
  text-align: left;
}

.LikePlaceWhere {
  font-size: 13px;
  padding-bottom: 5px;
  font-weight: bolder;
  text-align: left;
}

/* mypage > 회원탈퇴 */
.memberOutMents {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30%;
  font-size: 30px;
}

.memberOutBtn {
  margin: 20px;
  font-size: 15px;
  border: 1px solid #ff735d;
  background-color: #ff735d;
  color: white;
  border-radius: 2rem;
  width: 100px;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}
.memberOutBtn:active {
  box-shadow: none;
}

.memberOutGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
}
@media screen and (max-width: 1250px) {
  .memberOutGrid {
    grid-template-columns: 1fr;
  }
}