

/* 회원가입 */
/* 주황컬러 : #ff735d */
.SignUpTitle {
  text-align: center;
  font-size: 50px;
  color: #189cc4;
  font-weight: bolder;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 30px 50px 50px 50px;
  justify-content:center;
  
}

.UserImg {
  border-radius: 9999px;
  cursor: pointer;
}

.ImgFlex {
  display: flex;
  text-align: center;
  justify-content:center;
}

.UserName {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.UserEmail {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.UserNickname {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #188cc3;
}

.UserMobile {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.password {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.password2 {
  margin: 10px 0px;
  padding: 10px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.SignUpButton {
  display: block;
  padding: 7px;
  background-color: #189cc4;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;

  float: left;
  box-shadow: 2px 2px 2px black;
  transition-duration: 0.1s;
}
.SignUpButton:active{
  margin-left: 1px;
  margin-top: 1px;
  box-shadow: none;
}

.SignUpCheckbox {
  font-size: 15px;
  margin: 10px 0;
}

.errorMessages {
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  color: #ff735d;
}



/* 랭킹컴포넌트 */
.AllRankingFlex {
  margin-left: 30%;
  display: flex;
  text-align: center;
  align-items: center;
}

.RankingTitle {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin-right: 20px;
}

.AllUserRankers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.EachUserRanker {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
  margin: 20px;
  box-shadow: 3px 3px 3px black;
  cursor: pointer;
  transition-duration: 0.3s;
}
.EachUserRanker:active{
  margin-left: 0.5px;
  margin-top: 0.5px;
  box-shadow: none;
}

.EachUserNumber {
  width: 40px;
  height: 40px;
  /* border: 3px solid purple; */
  border-radius: 9999px;
  text-align: center;
  margin: -10px 20px 20px -10px;
  background-color: #ff735d;
  color: white;
  font-size: 30px;
  align-items: center;
  position: absolute;
  /* top: 10px; */
  /* left: 40px; */
}

.EachUserPic {
  /* border: 5px solid green; */
  /* background-color: wheat; */
  margin: 10px;
  /* padding: 10% 0; */
  /* width: 90%; */
  height: 200px;
}

.EachUserName {
  /* border: 3px solid tomato; */
  margin: 10px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: bolder;
}

.EachUserMessage {
  /* border: 3px solid royalblue; */
  margin: 10px;
  margin-top: 0px;
}

.EachUserLikes {
  /* border: 3px solid brown; */
  margin: 10px;
  margin-top: 0px;
  font-weight: bolder;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #189cc4;
}

.EachUserGround {
  /* border: 3px solid yellowgreen; */
  margin: 10px;
  margin-top: 0px;
  font-size: 13px;
}