@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

html,
body,
div,
span,
label,
section,
aside,
footer,
header,
nav,
video,
table,
tr,
td,
th {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

section,
aside,
footer,
header,
nav,
main,
span,
label {
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  /*
  -webkit-text-size-adjust: none;
  / 크롬, 사파리 기준 /
  -moz-text-size-adjust: none;
  / 모질라 파이어폭스 기준 /
  -ms-text-size-adjust: none;
  / 익스플로러 기준 /
  text-size-adjust: none;
  /edge 기준 */
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

/* react-router-dom  : link 관련 css 변경 */
.textLink {
  color: inherit;
  text-decoration: inherit;
}

/* bg */

#bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#LogoSvg {
  width: 40%;
  z-index: 2;
}

@media screen and (max-width: 801px) {
  #bg {
    display: none;
  }
}

@keyframes line-anim2 {
  to {
    stroke-dashoffset: 0;
  }
}

/* 메인 백그라운드 애니메이션 설정 */

#bg path:nth-child(1) {
  stroke-dasharray: 600px;
  stroke-dashoffset: 600px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(2) {
  stroke-dasharray: 2000px;
  stroke-dashoffset: 2000px;
  animation: line-anim2 6s linear forwards;
}

#bg path:nth-child(3) {
  stroke-dasharray: 1600px;
  stroke-dashoffset: 1600px;
  animation: line-anim2 5s linear forwards;
}

#bg path:nth-child(4) {
  stroke-dasharray: 400px;
  stroke-dashoffset: 400px;
  animation: line-anim2 3s linear forwards;
}

#bg path:nth-child(5) {
  stroke-dasharray: 2602px;
  stroke-dashoffset: 2602px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(6) {
  stroke-dasharray: 1500px;
  stroke-dashoffset: 1500px;
  animation: line-anim2 8s linear forwards;
}

#bg path:nth-child(7) {
  stroke-dasharray: 801px;
  stroke-dashoffset: 801px;
  animation: line-anim2 5s linear forwards;
}

#bg path:nth-child(8) {
  stroke-dasharray: 267px;
  stroke-dashoffset: 267px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(9) {
  stroke-dasharray: 673px;
  stroke-dashoffset: 673px;
  animation: line-anim2 5s linear forwards;
}

#bg path:nth-child(10) {
  stroke-dasharray: 224px;
  stroke-dashoffset: 224px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(11) {
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(12) {
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(13) {
  stroke-dasharray: 569px;
  stroke-dashoffset: 569px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(14) {
  stroke-dasharray: 569px;
  stroke-dashoffset: 569px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(15) {
  stroke-dasharray: 569px;
  stroke-dashoffset: 569px;
  animation: line-anim 4s linear forwards;
}

#bg path:nth-child(16) {
  stroke-dasharray: 569px;
  stroke-dashoffset: 569px;
  animation: line-anim2 5s linear forwards;
}

#bg path:nth-child(17) {
  stroke-dasharray: 569px;
  stroke-dashoffset: 569px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(18) {
  stroke-dasharray: 569px;
  stroke-dashoffset: 569px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(19) {
  stroke-dasharray: 221px;
  stroke-dashoffset: 221px;
  animation: line-anim2 4s ease forwards;
}

#bg path:nth-child(20) {
  stroke-dasharray: 221px;
  stroke-dashoffset: 221px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(21) {
  stroke-dasharray: 221px;
  stroke-dashoffset: 221px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(22) {
  stroke-dasharray: 221px;
  stroke-dashoffset: 221px;
  animation: line-anim2 4s linear forwards;
}

#bg path:nth-child(23) {
  stroke-dasharray: 221px;
  stroke-dashoffset: 221px;
  animation: line-anim2 4s linear forwards;
}

#recycle {
  width: 80%;
  opacity: 0.2;
  animation: rotate 10s linear infinite;
  transform-origin: center;
  z-index: 1;
}
#recycle:hover {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#wood {
  width: 80%;
}

.woodback {
  animation: color 10s linear infinite;
}

@keyframes color {
  0% {
    fill: #1894cc;
    opacity: 0.3;
  }
  50% {
    fill: #ffc709;
    opacity: 0.7;
  }
  100% {
    fill: #1894cc;
    opacity: 0.3;
  }
}

@media screen and (max-width: 961px) {
  .nav {
    display: none;
  }
}

/* 지도 반응형 클래스 */

.hidden {
  left: 350px;
}
.hidden > img {
  transform: rotate(180deg);
}

.active {
  opacity: 1;
}

/* slogan3 */
